[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/pianoman/Games/slippi/Slippi-Launcher-2.15.0-x86_64.AppImage
Name=Slippi Launcher

